body{
    font-family:'Courier New', Courier, monospace;
    background-color: #cc95fa;
    color: #ffffff;
    margin: 0px;
    text-align: center;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#logo{
    border-radius: 50%;
    width: 350px;
    border: #eee7f7 double 5px;
}

#bday-day{
    color: rgb(114, 56, 171);
    background-color:#ffffff;
    border: 1px dotted #cc95fa;
    border-radius: 5%;
    padding: 3px 10px;
    margin:5px 0 10px 0;
}
#bday-date{
    color: rgb(114, 56, 171);
    background-color:#ffffff;
    border: 1px dotted #cc95fa;
    border-radius: 5%;
    padding: 3px 8px;
    margin: 0px;

}
.title{
    text-shadow: 2px -2px 4px rgb(77, 24, 131);
}
.gift-section{
    margin-top: 50px ;
    border:1px dotted white;

}
#gift-title{
    margin: 0 0 8px 0 ;
}
#gift-hint{
    margin: 0 0 10px 0 ;

}
.gift-img{
    width: 250px;
    height: 250px;
    border: 5px #eee7f7 solid;
    border-radius: 15px;
    padding: 5px 10px 5px 5px;
    background-image:url("images/gift-holder.jpg");
    background-size: cover;
    margin: 0 auto;
}
#gift-logo-flower:hover{
    border-radius: 40px;
    background-image:url("images/flower.jpg");
    width: 300px;
}
#gift-logo-chocolate:hover{
    border-radius: 40px;
    background-image:url("images/chocolate.jpg");
    width: 300px;
}


