body{
    background-image: url("./images/universe.jpg");
     background-size: cover;
    color: white;
    text-align: center;
}
.content{
    margin-top: 80px ;
    font-size: 50px;
}
.btn{
    padding: 10px 20px;
    font-family: inherit;
    
}

.orbitron-text{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style: normal;
}
.underline{
    border-bottom: 4px solid white;
}
#logo{
    width: 150px;

   
}
footer{
    margin-top: 400px;
}